*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(44, 29, 16);
  font-size: 1.1rem;
  font-family: "Lora", serif;
}

main section {
  padding: 20px;
}

main section:nth-child(2n) {
  background-color: rgba(198, 155, 117, 0.451);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  margin: 0;
}

.arrow-up {
  margin-top: 15px;
}
@media screen and (min-width: 700px) {
  .arrow-up {
    display: none;
  }
}

.header {
  background-color: rgb(198, 155, 117);
}
@media screen and (min-width: 700px) {
  .header {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
  }
}
.header__topbar {
  height: 80px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 700px) {
  .header__topbar {
    height: 110px;
    grid-column: 1/5;
    grid-row: 1/2;
    margin-left: 40px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .header__topbar {
    margin-left: auto;
    margin-right: auto;
  }
}
.header__icons {
  height: 90px;
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}
@media screen and (min-width: 700px) {
  .header__icons {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
.header__icons a {
  margin-left: 30px;
  margin-right: 30px;
}
.header__icons * {
  cursor: pointer;
}
.header__icons p {
  margin-top: 0;
  margin-bottom: 0;
}
.header__hero {
  background-image: url("../images/header_bc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}
@media screen and (min-width: 700px) {
  .header__hero {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 1000px) {
  .header__hero {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
.header__hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  min-width: 250px;
  border-radius: 10px;
}
.header__hero-h1, .header__hero-h2 {
  color: whitesmoke;
}
@media screen and (min-width: 700px) {
  .header__hero-h1, .header__hero-h2 {
    font-size: 2em;
  }
}
.header__hero-h1-sub {
  font-size: 0.8em;
}

@media screen and (min-width: 700px) {
  .menu__bars {
    display: none;
  }
}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: rgb(44, 29, 16);
  border-radius: 10%;
}
@media screen and (min-width: 700px) {
  .bar {
    display: none;
  }
}

.bar:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar.one {
  margin-top: -5px;
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.bar.two {
  display: none;
}

.bar.three {
  margin-top: -5px;
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}

.menu__list {
  display: none;
}
@media screen and (min-width: 700px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-left: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .menu__list {
    margin-left: 50px;
  }
}

.menu__list.open {
  display: block;
  position: absolute;
  font-weight: bold;
  right: 0%;
  top: 60px;
  z-index: 100;
  background-color: rgb(198, 155, 117);
  width: 100%;
  padding-left: 0;
}

.menu__item {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 700px) {
  .menu__item {
    border-right: 3px solid rgb(44, 29, 16);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
  }
}

.menu__item:hover {
  background-color: rgba(85, 134, 140, 0.2588235294);
}
@media screen and (min-width: 700px) {
  .menu__item:hover {
    background-color: transparent;
  }
}

.menu__item:active {
  background-color: rgba(45, 74, 78, 0.2588235294);
}
@media screen and (min-width: 700px) {
  .menu__item:active {
    background-color: transparent;
  }
}

@media screen and (min-width: 700px) {
  .menu__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
}

.menu__link:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

.menu__link:active {
  font-size: 1rem;
}

.header__icons-emailAddressHidden {
  display: none;
}

.header__icons-emailAddressShown {
  flex-basis: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1000px) {
  .header__icons-emailAddressShown {
    flex-basis: auto;
    padding-bottom: 0;
  }
}

.header__icons-emailIconHidden {
  display: none;
}

.header__icons-phoneNumberHidden {
  display: none;
}

.header__icons-phoneNumberShown {
  display: inline-block;
  flex-basis: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 1000px) {
  .header__icons-phoneNumberShown {
    flex-basis: auto;
    padding-bottom: 0;
  }
}

.header__icons-phoneIconHidden {
  display: none;
}

.about {
  background-color: rgba(198, 155, 117, 0.202);
  border-radius: 10px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1000px) {
  .about {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.about__wrapper {
  background-color: rgba(85, 134, 140, 0.2588235294);
  padding: 10px;
  border: 5px solid rgb(198, 155, 117);
  border-radius: 10px;
  margin-bottom: 10px;
}

.catering__wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 850px) {
  .catering__header-h3 {
    margin-bottom: 100px;
  }
}

.catering__pricing {
  position: relative;
}
@media screen and (min-width: 850px) {
  .catering__pricing {
    display: flex;
    justify-content: space-around;
    height: 270px;
  }
}

.catering__pricing img {
  border: 5px solid rgb(90, 44, 4);
  border-radius: 10px;
  width: 300px;
  min-height: 180px;
}
@media screen and (min-width: 850px) {
  .catering__pricing img {
    transform: translateX(-65px) rotate(270deg);
  }
}

.catering__pricing-wrapper {
  height: 200px;
  transition: all 0.5s;
}
@media screen and (min-width: 850px) {
  .catering__pricing-wrapper {
    width: 150px;
  }
}

.catering__pricing-wrapper:hover,
.catering__pricing-wrapper:focus {
  transform: scale(1.1);
}

.catering-pricing-list {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 170px;
  height: 170px;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  transform: translateY(-198px);
}

.catering__composition {
  margin-top: 30px;
}
@media screen and (min-width: 850px) {
  .catering__composition {
    margin-top: 0;
  }
}

.list__wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.list__menu-product {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 700px) {
  .list__menu-product {
    width: auto;
    display: inline-block;
  }
}

.list__showhide {
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (min-width: 1000px) {
  .list__showhide {
    display: none;
  }
}

.list__showhide.hide {
  display: none;
}

.list__list,
.list__list-two {
  background-color: rgb(198, 155, 117);
  padding: 20px;
  border-radius: 10px;
}
@media screen and (min-width: 700px) {
  .list__list,
.list__list-two {
    line-height: 2.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.list__list.second {
  display: none;
}
@media screen and (min-width: 1000px) {
  .list__list.second {
    display: inline-block;
    margin-top: -16px;
  }
}

.list__seasonal-header {
  margin-bottom: -16px;
}

.order {
  background-image: url("../images/order_wrapper_small.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1000px) {
  .order {
    background-image: url("../images/order_wrapper_bc.png");
  }
}
.order__wrapper {
  max-width: 1100px;
  background-color: rgba(207, 229, 232, 0.8862745098);
  padding: 10px;
  margin: 25px auto;
  border: 5px solid rgb(198, 155, 117);
  border-radius: 10px;
}

.contact {
  min-height: 300px;
}
@media screen and (min-width: 700px) {
  .contact {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    gap: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .contact {
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
  }
}
@media screen and (min-width: 700px) {
  .contact__header {
    grid-row: 1/2;
    grid-column: 1/4;
  }
}
@media screen and (min-width: 1000px) {
  .contact__header {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 700px) {
  .contact__contacts {
    max-width: 400px;
    justify-self: right;
    align-self: center;
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
@media screen and (min-width: 700px) {
  .contact__address {
    width: 300px;
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    grid-column: 3/4;
    margin-top: -15px;
  }
}
.contact__map {
  display: none;
}
@media screen and (min-width: 1000px) {
  .contact__map {
    display: inline-block;
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
  }
}
.contact__address-map {
  text-decoration: underline;
}
@media screen and (min-width: 1000px) {
  .contact__address-map {
    display: none;
  }
}

.naspici {
  background-image: url("../images/naspici_small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  position: relative;
  height: 500px;
}
@media screen and (min-width: 1000px) {
  .naspici {
    background-image: url("../images/naspici.jpg");
    height: 450px;
  }
}
.naspici__wrapper {
  max-width: 1100px;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin-top: 0;
  color: whitesmoke;
}
.naspici__wrapper-link--color {
  color: whitesmoke;
  text-decoration: underline;
}

.arrow-up.naspici-arrow {
  position: absolute;
  top: 85%;
  left: 47%;
}

.footer {
  background-color: rgb(198, 155, 117);
  height: 60px;
  padding-top: 20px;
}/*# sourceMappingURL=style.css.map */