*, :after, :before { box-sizing: border-box;}

@mixin tablet { 
    @media screen and (min-width: 700px) {@content; }}

@mixin inbetween {
    @media screen and (min-width: 850px) {@content; }}

@mixin desktop {
    @media screen and (min-width: 1000px) {@content; }}

@mixin light-bc {
    background-color: $color-light;
}

@mixin dark-bc {
    background-color:$color-dark;
    color:$color-light;
}


$color-dark: #230C0F;
$color-light: #f5f5f5;


// OBECNÉ //


body{
    margin: 0;
    padding:0;
    text-align:center; 
    color:$color-dark;
    font-size: 1.1rem;
    font-family: 'Lora', serif;
}

main section{
   padding: 30px 20px;
}

/*
main section:nth-child(2n),
main section:nth-child(2n) a {
    background-color: $color-section_second;
    color:$color-white-text;

}
*/

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

h4 {
    margin:0;
}

.arrow-up {
    margin-top: 32px;
    @include tablet {
        display:none;
    }
}

// Iphone phone number
.phone_number{
    color: inherit;
    text-decoration: none;
    }


//HEADER//

.header{
    background-color: $color-dark;
    color: $color-light;

    @include desktop {
        display:grid;
        grid-template-columns:  1fr 1fr; 
    }


&__topbar {
   padding:30px;
    @include tablet {
    padding-bottom:0px;
    }

    @include desktop{
        max-width: 1300px;
        margin-left:auto;
        margin-right:auto;
        grid-row: 1 / 2;
        grid-column: 1/-1;
        display:grid;
        grid-template-columns: 2% 1fr 1fr 2%; 
    }}

    &__hero-h1{
        font-size:1.8em;
        text-align: center;
        margin-top:0;
        margin-left:0;
        margin-bottom:40px;
        @include desktop {
            margin:0;
            font-size:1.8em;
            text-align: left;
            margin-left: 50px;
            grid-row: 1/2;
            grid-column:1/-1;
           align-content:center;
        }
         
    }
    
    &__hero-h1-sub {
        font-size: 0.7em;
        }
    
    
    &__topbar-menu{
        grid-column: 3/4;
    }

&__icons{
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;

    @include tablet {
        grid-column: 1 / -1;
        grid-row: 3 / 4; 
     }
    }

&__icons-contact {
    @include tablet {
        display:flex;
        justify-content: center;
        gap: 16px;
    }

}

.header__icons-contact-phone {
    @include tablet { 
    border-right: 2px solid $color-light;
    padding-right: 16px;
    }
}

&__hero{
    background-image: url("../images/header_bc.png"); //object-fit pro fotky, nastavit height&weight. 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    
    @include tablet {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    @include desktop {
        height: 500px;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }}

&__hero-heading{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: $color-dark;
    padding: 10px;
    min-width: 320px;
    border-radius: 10px;
    line-height: 28px;
    @include desktop{
        font-size: 1.3rem;
    }
     }
     

}

//JS HMB Menu

.menu__bars{
    @include tablet {
        display:none;
    }
}

.bar { 
   display:block;
   margin-left:auto;
   margin-right:auto;
    width: 35px;
    height: 5px; 
    background-color: $color-light;
    border-radius: 10%;
    

    @include tablet {
        display:none;
    }}

    .bar:nth-child(2) {
        margin-top:10px;
        margin-bottom:10px;
    }

    .bar.one {
        margin-top: -5px;
        transform:rotate(45deg);
        transition: transform 0.4s ease-in-out;
    }
    
    .bar.two {
        display:none;
    }
    
    .bar.three {
        margin-top: -5px;
        transform:rotate(-45deg);
        transition: transform 0.4s ease-in-out;
    }
    
     

.menu__list {
    display:none;
    @include tablet {
    display:flex;
    justify-content:space-around; 
    font-weight: bolder;
    margin-bottom:0px;
    padding-left:0px;
   }}

.menu__list.open {
    display: block;
    position:absolute;
    font-weight: bold;
    right: 0%;
    top:155px;
    z-index: 100;
    background-color: $color-dark;
    width: 100%;
    padding-left:0;
}

.menu__item{
    padding-top: 30px;
    padding-bottom:30px;
    border-bottom: 3px solid $color-light;
    @include tablet {
        border-bottom: none;
        border-right: 3px solid $color-light;
        padding-top: 0px;
        padding-bottom:0px;
        padding-right: 10px;
       
    }
}

.menu__item:hover {
    background-color: #55868c42;
    @include tablet {
        background-color: transparent;
    }
}

.menu__item:active {
    background-color: #2d4a4e42;
    @include tablet {
        background-color: transparent;
    }
}




.menu__link {
    color:$color-light;
    @include tablet {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;}
}


.menu__link:hover {
    text-decoration:underline;
    font-size: 1.2rem;
}

.menu__link:active{
    font-size: 1rem;
}



//MASOVÁ KORYTA//

.catering__wrapper{
    max-width: 1000px;
    margin-right:auto;
    margin-left:auto;
    overflow-x: hidden;
}

.catering__header-h3 {
    @include inbetween { 
    margin-bottom: 100px;}
}

.catering__pricing{
    position:relative;

    @include inbetween {
        display:flex;
        justify-content: space-around;
        height: 270px; 
    }
}


.catering__pricing img {
    border: 5px solid $color-dark; 
    border-radius: 10px;
    width: 300px;
    min-height:180px;
     
    @include inbetween{
        transform: translateX(-65px) rotate(270deg); 
    } 
}


.catering__pricing-wrapper{
    height: 200px;
    transition: all .5s; 

    @include inbetween {
    width: 150px;
    } 
}

.catering__pricing-wrapper:hover ,
.catering__pricing-wrapper:focus  {
    transform: scale(1.1); 
}

.catering-pricing-list {
    border-radius: 50%;
    background-color:$color-dark;
    width: 170px;
    height: 170px;
    padding: 30px 0;
    margin-left:auto;
    margin-right:auto;
    color:$color-light;
    transform:translateY(-198px);

}

.catering__composition {
    margin-top: 32px;
    @include inbetween {
        margin-top: 0;
    }
}

//CATERING


.list{
    background-image: url("../images/stul.jpg"); //object-fit pro fotky, nastavit height&weight. 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:$color-light;
   
    
}


.list__wrapper {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    
    
    
}

.list__menu-product {
    display:block;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    @include tablet{
     width:auto;
     display:inline-block;
    }
}


.list__showhide {
    font-weight: bold;
    text-decoration: underline;

    
}

.list__showhide.hide {
    display:none;
}

.list__list.first, 
.list__list-two{
    background-color:$color-light;
    color:$color-dark;
    padding: 20px;
    border-radius: 10px;
    max-width: 650px;
    box-shadow:10px 10px $color-dark;
    margin-bottom:32px;

    @include tablet{ 
    line-height: 2.5em;
    width: 80%;
    margin-left:auto;
    margin-right:auto;}
}

.list__list.second {
    display:none;
    
     
}

//iphone, ipad

.form.timeDate > input {
    min-height: 50px;
    min-width:280px;
}

.form.timeDate {
    display: flex;
    align-items: center;
    flex-direction: column;
    }




//OBJEDNÁVKY//

.order{
    background-image: url("../images/stul.jpg"); //změnit velikost fotky, moc velké, zpomaluje načítaní
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

    &__wrapper {
        max-width: 1000px;
        background-color: rgba(245, 245, 245, 0.9);
        color:$color-dark;
        padding: 10px;
        margin: 25px auto;
        border-radius: 10px;
        box-shadow:10px 10px $color-dark;
        }
}

//REFERENCE

.reference__wrapper {
    max-width:1000px;
    width:90%;
    margin-left:auto;
    margin-right:auto;

    @include desktop {
        display:flex;
        justify-content: center;
        gap:32px;
    }
}

.reference__comment {
    
    @include desktop {
        flex-basis:50%;
        padding: 20px;
    }
}

.comment{
    @include desktop{ 
    text-align: left;}
}

.reference__comment-line {
    font-style: italic;
}



.form{
    margin-bottom:16px;
}


.form > input,
.form textarea {
    width: 100%;
    min-height: 50px;
    border: 2px solid $color-dark;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgba(235, 147, 6, 0.486);
        
    @media screen and (min-width: 700px) {
    flex: 1 1 100%;
          }
    }
      
.form > label {
    font-weight: bold;
    
}

.form input:focus,
.form textarea:focus { 
    outline:0;
    border: 2px solid rgb(235, 147, 6); }
        
.form input:not(:placeholder-shown):valid {
    background-color: rgb(217, 232, 237);} 
       
        
.required {
    color: red;
    margin:0;
    display:inline-block;
        }

.form_submit-done {
    display:none;
}

.booking-button{
    padding:10px;
    border: 2px solid $color-dark;
    border-radius: 10px;
}

    
//GALERIE


.gallery__photos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    @include desktop{
        width:70%;
        margin-left:auto;
        margin-right:auto;
    }
}

.gallery__photos img {
    width: 100%;
    height:100%;
}

.img-one{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.img-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.img-three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.img-four{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.img-five{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.img-six{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.img-seven{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

//KONTAKTY//
.contact {
    min-height: 300px;
    @include dark-bc();
    @include tablet{
    display:grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    gap: 10px;}
    @include desktop {
        grid-template-columns: 1% 1fr 1fr 1fr 1%;
    }

&__header{
    @include tablet{
    grid-row: 1 / 2;
    grid-column: 1 / 4;} 
    @include desktop{
        grid-column: 1 / -1;
    }
    }


&__contacts {
    @include tablet{
    max-width: 400px;
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;} 
    
    } 

&__address {
    margin-top:32px;
    @include tablet{
        margin-top:0px;
    width: 300px;
    justify-self: center;
    align-self:baseline;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
    
}

&__map {
    display:none;
    @include desktop {
        display:inline-block;
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        align-self: center;
    }
}

&__address-map {
    text-decoration: underline;
    @include desktop {display: none;}
}
}



//NA ŠPICI//
.naspici {
background-image: url("../images/naspici_small.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color:$color-light;
position:relative;
height: 600px;
@include desktop {background-image: url("../images/naspici.jpg");
    height: 450px;
}

&__wrapper {
    max-width: 1000px;
    min-width: 300px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: $color-dark;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
    color:$color-light;
    
    }
    
    &__wrapper-link--color{
    color:$color-light;
    text-decoration: underline;
    }

}


.arrow-up.naspici-arrow {
    position:absolute;
    top: 85%;
    left: 47%;  
}



//FOOTER//

.footer {
    background-color:$color-dark;
    height: 60px;
    padding-top: 20px; 
}

.footer__copyright{
    color:$color-light;
}
