*, :after, :before { box-sizing: border-box;}

body{
    margin: 0;
    padding:0;
    text-align:center;   
}

main section{
   padding:20px;
}

main section:nth-child(2n){
    background-color: rgba(198, 155, 117, 0.451);
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black
}

h2 {
    margin:0;
}

.header{
    background-color: rgb(198, 155, 117);
    padding-top: 10px;
}

.header__topbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header__topbar-menu ul {
    display:flex;
    flex-basis: 50%;
    padding-left:0;
}

.header__topbar-menu .menu__link {
    margin-right: 20px;
}



.header__topbar-icons a:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;   
}

.header__introduction{
    background-image: url("../images/header_introduction.jpg");
    background-size: cover;
    height: 400px;
}

.header__introduction-h1 {
    color:whitesmoke;
    padding-top: 180px;
}

.header__introduction-h2{
    color:whitesmoke;
    padding-left: 80px;
}


.catering_pricing{
    @media screen and (min-width: 600px) {
        display:flex;
        justify-content: center;
    }
}

.catering_pricing img {
    width: 60%;
    opacity: 0.7;
    border: 5px solid rgb(90, 44, 4);

    @media screen and (min-width: 600px) {
        width: 100%;
     }
   
}

.catering_pricing img::after{
    content: "";
    border: 5px solid rgb(198, 155, 117);
}


.footer {
    background-color:rgb(198, 155, 117);
    height: 60px;
    padding-top: 10px;
}