*, :after, :before { box-sizing: border-box;}

@mixin tablet { 
    @media screen and (min-width: 700px) {@content; }}

@mixin desktop {
    @media screen and (min-width: 1000px) {@content; }}


// OBECNÉ //
body{
    margin: 0;
    padding:0;
    text-align:center; 
    color:  rgb(44, 29, 16);
    font-size: 1.1rem;
    font-family: 'Lora', serif;
}

main section{
   padding:20px;
}

main section:nth-child(2n){
    background-color: rgba(198, 155, 117, 0.451);
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black
}





//HEADER//

.header{
    background-color: rgb(198, 155, 117);
    display:grid;
    column-gap: 10px;

    @include tablet {
        grid-template-columns: 5% 1.5fr 1fr 5%; 
    }

    @include desktop {
        grid-template-columns: 5% 1fr 0.5fr 70px 5%;
       align-items: center;
       
    }

}

.header__topbar {
  height: 45px;
  max-width: 1200px; //celý dokument!!! //
  margin-top: 10px;
  margin-bottom: 10px;
  
  @include tablet {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
    }

  @include desktop {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 0px;
  margin-top:0px;
}
}


.menu__list {
    display:flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;  
    max-width: 450px;
    font-size: 0.9em;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
    margin-left: 0;
    margin-right: 0;
    }

}

.menu__item{
    border-right: 3px solid black;
    padding-right: 5px;
}

.header__icons{
    padding-top: 10px;
    padding-bottom: 10px;
    @include tablet {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        justify-self: center;
        
     }
    @include desktop {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: end;
        
     }
}

.header__icons a:nth-child(2){
    margin-left: 30px;
    margin-right: 30px;  
    @include desktop {
        margin-left: 10px;
        margin-right: 10px;   
    }
}


.header__icons-logo {
    display: none;
   
    
    @include tablet {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display:inline-block;
        justify-self: end;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    @include desktop {
        grid-column: 4 / 5;
        display:inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
  
    }
}

.header__hero{
    background-image: url("../images/header_introduction.jpg"); //object-fit pro fotky, nastavit height&weight. 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    //background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("../images/header_introduction.jpg");
    
    @include tablet {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }


    @include desktop {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }}



.header__hero-heading{
   position:absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  min-width: 200px;
  border-radius: 10px;

}

.header__hero-h1,
.header__hero-h2{
    color:whitesmoke;}



//O NÁS//
.about{
    max-width: 1100px;
    margin-left: auto;
    margin-right:auto;}
    

.about__wrapper {
background-color: #55868c42;
padding: 10px;
border:5px solid rgb(198, 155, 117);
border-radius: 10px;
//border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;

}



//MASOVÁ KORYTA//

.catering_pricing{
    position:relative;
    @include tablet {
        display:flex;
        justify-content: center;
    }
}

.catering_pricing img {
    width: 60%;
    opacity: 0.7;
    border: 5px solid rgb(90, 44, 4);

    @include tablet {
        width: 100%;
     }
   
}





//OBJEDNÁVKY//

.order{
        background-image: url("../images/header_introduction.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.order__wrapper {
    max-width: 1100px;
    margin-left:auto;
    margin-right:auto;
    background-color: #cfe5e8e2;
    padding: 10px;
    margin: 25px;
    border:5px solid rgb(198, 155, 117);
    border-radius: 10px;
    //border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
    
    }
    



//KONTAKTY//


//FOOTER//

.footer {
    background-color:rgb(198, 155, 117);
    height: 60px;
    padding-top: 20px;
  
}

